# Java
target/
*.class
*.jar
*.war
*.log

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db